@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  25%,
  75% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(5px);
  }
}

.shake-animation {
  animation: shake 0.5s;
}

.wrapper {
  max-width: 80%;
  margin: 2rem auto;
  background-color: #1d2345;
  color: black;
  padding: 2rem;
  color: #ebebeb;
  border: 2px solid rgba(231, 232, 236, 0.2);
  border-radius: 8px;
}

.heading h2 {
  margin-bottom: 0.2rem;
}

form {
  margin-top: 1.5rem;
}

button {
  margin-top: 2rem;
  width: 100%;
  padding: 0.7rem 1rem;
  background-color: #18d395;
  color: white;
  font-weight: bold;
  border: 0;
  outline: 0;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.6;

  &:hover {
    opacity: 0.6;
    background-color: #18d395;
  }
}

button:hover {
  background-color: #008659;
}

#otp-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

}

.otp-number {
  background: transparent;
  color: white;
  outline: none;
  border: 0;
  border-bottom: 1px solid gray;
  width: 2rem;
  text-align: center;
  font-size: 1.2rem;
}

.otp-number:focus {
  border-bottom: 1px solid white;
}